requests
Pillow
pywinauto
mss
pyinstaller
nuitka
pyperclip
httpx
websockets
pywin32
psutil
uiautomation
torch
ollama
numpy
opencv-python
playwright
playwright-stealth
aiohttp
pywinctl
pyttsx3
pygetwindow
pyrect